// Body
$body-bg: #f8fafc;
// background-image: linear-gradient(170deg, #9386ef , #b1f4cf 70%, #ffeaa5);


// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$bodyColor: #f8fafc;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$palePink: #ffa7c4;
$red: #e3342f;
$crimson: #DC143C;
$orange: #f6993f;
$yellow: #fcf7c9;
$green: #38c172;
$seaGreen: #2E8B57;
$darkGreen: #006400;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$blog: #7092be;
$blogLight: #93adce;
$blogPale: #f0f4f8;
$graphite: #2b2e2e;
$silver: #c0c0c0;
$gainsboro: #dcdcdc;
$wisper: #eeeeee;
$lightYellow: #FFFFE0;

$theme-colors: (
    "bodyColor": $bodyColor,
    "blue": $blue,
    "indigo": $indigo,
    "purple": $purple,
    "pink": $pink,
    "palePink": $palePink,
    "red": $red,
    "crimson": $crimson,
    "orange": $orange,
    "yellow": $yellow,
    "green": $green,
    "seaGreen": $seaGreen,
    "darkGreen": $darkGreen,
    "teal": $teal,
    "cyan": $cyan,
    "blog": $blog,
    "blogLight": $blogLight,
    "blogPale": $blogPale,
    "graphite": $graphite,
    "silver": $silver,
    "gainsboro": $gainsboro,
    "wisper": $wisper,
    "lightYellow": $lightYellow
);

$yiq-contrasted-threshold: 300;
$enable-gradients: true;
$enable-shadows: true;
