/* 新規投稿ボタン */
.floating-button {
    position: fixed;
    bottom: 1.6rem;
    right: 10%;
    padding: 0.676rem 1rem;
}

/* ページトップへ戻るボタン */
.scroll-top {
    line-height: 0.2rem;
}

.search-button, .search-modal-button {
    line-height: 0.8rem;
}

.search-button:hover {
    transform:scale(1.2,1.2);
    transition:0.2s all;
}

/* main要素の高さを調整 */
.main-min-height {
    min-height: 710px;
}

/* ユーザー＆投稿検索フォーム */

@media screen and (min-width: 500px) {
    .search-form {
        position: fixed;
        top: 0.7rem;
        left: 25%;
        z-index:1020;
    }

    .search-modal {
        display: none;
    }

    .react-tabs>ul>li {
        padding-left: 1.9rem;
        padding-right: 1.9rem;
    }

}

@media screen and (max-width: 499px) {
    .search-form {
        display: none;
    }

    .search-modal {
        position: fixed;
        top:3.2rem;
    }

    .search-modal-button {
        position: fixed;
        top: 0.7rem;
        left: 30%;
        z-index:1020;
    }

    .search-modal-button > i {
        font-size: 1.4rem;
    }

    .react-tabs>ul>li {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}


.min-100vh {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex-1 {
    flex: 1;
}

.full-height {
    height: 100vh;
}

.bg-imageColor {
    background-image: linear-gradient(160deg,#7092be , #b1f4cf 55%, #ffeaa5);
}

/* background-image: linear-gradient(170deg, #9386ef , #b1f4cf 70%, #ffeaa5); */
/* background-image: linear-gradient(160deg, #a286ef , #b1f4cf 75%, #ffeaa5); */
/* background-image: linear-gradient(170deg, #9386ef , #b1f4cf 70%, #ffe7a5); */
/* background-image: linear-gradient(150deg, #8886ef , #84f7b8 75%, #ffeaa5); */
