/* 新規投稿ボタン */
.floating-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 1rem 1.4rem;
}

/* main要素の高さを調整 */
.main-min-height {
    min-height: 715px;
}

/* ユーザー＆投稿検索フォームをnavbarへ */
.search-form {
  position: fixed;
  top: 0.7rem;
  left: 30%;
  z-index:1020;
}

.bg-imageColor {
  /* background-image: linear-gradient(170deg, #9386ef , #b1f4cf 70%, #ffeaa5); */
  /* background-image: linear-gradient(160deg, #a286ef , #b1f4cf 75%, #ffeaa5); */
  background-image: linear-gradient(160deg,#7092be , #b1f4cf 55%, #ffeaa5);
  /* background-image: linear-gradient(170deg, #9386ef , #b1f4cf 70%, #ffe7a5); */
  /* background-image: linear-gradient(150deg, #8886ef , #84f7b8 75%, #ffeaa5); */
}
