/* footerの位置を調整 */
.footer-fixed {
    min-height: 100vh;
    position: relative;
    padding-bottom: 60px;
    box-sizing: border-box;
}
footer {
    position: absolute;
    bottom: 0;
}

.flash_message {
    margin: auto;
    width: 80%;
    text-align: center;
    background: white;
    padding: 0.2rem;
    border-radius: 10px;
    opacity: 0.8;
}

/* フラッシュメッセージを一定時間後にフェードアウト */
.fadeout {
    opacity: 0.8;
    animation-name: fadeout-keyframes;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}
@keyframes fadeout-keyframes {
    from {
        opacity: 0.8;
    }
    to {
        opacity: 0;
    }
}

/* ページトップへ戻る */
#scroll-top-div {
    line-height: 0.2rem;
}

.user-search-form {
    position: fixed;
    top: 0.47rem;
    left: 30%;
    z-index:1020;
}

.search-modal-button {
    line-height: 1rem;
}

.search-button:hover {
    transform:scale(1.2,1.2);
    transition:0.2s all;
}

/* マイページのタブ */
.react-tabs > ul > li {
    width: 25%;
    padding: 0.2rem 0;
}

.follow-btn {
    user-select: none;
    cursor: pointer;
}

.search-form {
    position: fixed;
    top: 0.47rem;
    left: 25%;
    z-index:1020;
}

.search-modal {
    display: none;
}

#search-word-mobile {
    display: none;
}

/* 新規投稿ボタン */
.floating-button {
    display: block;
    position: fixed;
    bottom: 1.6rem;
    right: 10%;
    padding: 0.6rem 0.8rem;
    z-index: 1200;
}
.floating-button:hover {
    transform: scale(1.1, 1.1);
transition: 0.2s;
}

.min-100vh {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex-1 {
    flex: 1;
}

.full-height {
    height: 100vh;
}

.bg-imageColor {
    background-image: linear-gradient(160deg,#7092be , #b1f4cf 55%, #ffeaa5);
}

/* ウエルカムページのスタイル */
.home-body {
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

#index-toggle {
    line-height: 26px;
    width: 220px;
    margin-right: auto;
    user-select: none;
    overflow: hidden;
    border-radius: 3px;
}

.switch-index {
    height: 26px;
    width: 110px;
}

/* ワイドスクリーン用スタイル */
@media screen and (min-width: 1300px) {
    .search-form {
        left: 35%;
    }
}

@media screen and (min-width: 500px) {
    #footer-menu {
        display: none !important;
    }
}

/* スマホ用スタイル */
@media screen and (max-width: 499px) {

    .search-form {
        display: none;
    }

    .search-modal {
        position: fixed;
        top:3.2rem;
    }

    .search-modal-button {
        font-size: 0.8rem;
        position: fixed;
        top: 0.47rem;
        left: 30%;
        z-index:1020;
        display: block;
    }

    .search-modal-button > i {
        font-size: 1.4rem;
    }

    .react-tabs > ul > li {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    #footer-menu {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2.9rem;
        z-index: 1200;
        line-height: 1rem;
        padding-top: 0.5rem;
        transform: translateY(0);
        transition: transform .5s ease;
    }
    #footer-menu a {
        width: 20%;
    }
    #footer-menu a span {
        font-size: 0.5rem;
    }

    .footer-menu-hidden {
        transform: translateY(150%)!important;
    }

    /* スマホではフローティングボタンを非表示 */
    .floating-button {
        display: none;
    }

    /* スマホではページトップへ戻るを非表示 */
    #scroll-top-div {
        display: none;
    }

    #reviewIndex, #userIndex, #userPageTab {
        margin-bottom: 100px;
    }

}
